---
const { src, alt } = Astro.props;

interface Props {
  src: string;
  alt: string;
}
---

<div class="shrink-0">
  <img
    class="size-10 rounded-full border-2 border-neutral-200 object-cover ring-2 ring-white dark:border-neutral-600 dark:ring-neutral-800 sm:size-12"
    src={src}
    alt={alt}
    loading="lazy"
  />
</div>
