@import 'tailwindcss';

@layer base {
    button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
/* Dark mode colors. */
:root {
    --primary-button-hover: #fdba74;
    --backdrop-color: #1a1a1acc;
    --sl-color-accent: #fb923c;
    --sl-color-accent-high: #fdba74;
    --sl-color-accent-low: #9a3412;
    --sl-color-black: #0a0a0a;
    --sl-color-gray-1: #f5f5f5;
    --sl-color-gray-2: #e5e5e5;
    --sl-color-gray-3: #a3a3a3;
    --sl-color-gray-4: #737373;
    --sl-color-gray-5: #525252;
    --sl-color-gray-6: #404040;
    --sl-color-white: #fff;
    --orange-hsl: 24.7, 95%, 53.1%;
    --overlay-orange: hsla(var(--orange-hsl), .15);
    --border: hsla(var(--border-neutral), .4);
    --border-neutral: 0, 0%, 25.1%;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --primary-button-hover: #fdba74;
    --backdrop-color: #fafafacc;
    --sl-color-accent: #ea580c;
    --sl-color-accent-high: #9a3412;
    --sl-color-accent-low: #fdba74;
    --sl-color-black: #fff;
    --sl-color-gray-1: #171717;
    --sl-color-gray-2: #404040;
    --sl-color-gray-3: #525252;
    --sl-color-gray-4: #737373;
    --sl-color-gray-5: #a3a3a3;
    --sl-color-gray-6: #d4d4d4;
    --sl-color-gray-7: #fafafa;
    --sl-color-white: #0a0a0a;
    --orange-hsl: 24.7, 95%, 53.1%;
    --border-orange: 24.7, 95%, 53.1%;
    --border: hsla(var(--border-orange), .3);
}

.page {
    background: linear-gradient(215deg, var(--overlay-orange), transparent 40%), radial-gradient(var(--overlay-orange), transparent 40%) no-repeat center center / cover, radial-gradient(var(--overlay-orange), transparent 65%) no-repeat center center / cover;
    background-blend-mode: overlay;
}

header {
    border: none !important;
    padding: 0 !important;
}

header.header {
    background-color: transparent !important;
    height: 4.5rem !important;
    margin-inline: auto !important;
    padding-block: 0 !important;
    padding-inline: 2rem !important;
}

header > div:first-of-type {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
    border: 1px var(--border) solid;
    border-radius: 36px;
    height: 100% !important;
    margin-inline: auto !important;
    margin-top: 1rem !important;
    max-width: 1536px;
    padding-inline: 2rem !important;
    width: auto !important;
}

select {
    background-image: none;
    box-shadow: none;
}

.sl-link-button.primary:hover {
    background-color: var(--primary-button-hover);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-link-button.primary:hover svg {
    transform: translateX(0.25rem);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}