@import 'tailwindcss';

@layer base {
    button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Dark mode colors. */
:root {
  --border: hsla(var(--border-neutral), 0.4);
  --backdrop-color: #1a1a1acc;
  --sl-color-accent: #fb923c;
  --sl-color-accent-high: #fdba74;
  --sl-color-accent-low: #9a3412;
  --sl-color-black: #0a0a0a;
  --sl-color-gray-1: #f5f5f5;
  --sl-color-gray-2: #e5e5e5;
  --sl-color-gray-3: #a3a3a3;
  --sl-color-gray-4: #737373;
  --sl-color-gray-5: #525252;
  --sl-color-gray-6: #404040;
  --sl-color-white: #fff;
  --list-marker-color: #fb923c;
  --border-neutral: 0, 0%, 25.1%;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --border: hsla(var(--border-orange), 0.4);
  --backdrop-color: #fafafacc;
  --sl-color-accent: #ea580c;
  --sl-color-accent-high: #9a3412;
  --sl-color-accent-low: #fdba74;
  --sl-color-black: #fff;
  --sl-color-gray-1: #171717;
  --sl-color-gray-2: #404040;
  --sl-color-gray-3: #525252;
  --sl-color-gray-4: #737373;
  --sl-color-gray-5: #a3a3a3;
  --sl-color-gray-6: #d4d4d4;
  --sl-color-gray-7: #fafafa;
  --sl-color-white: #0a0a0a;
  --list-marker-color: #ea580c;
  --border-orange: 24.7, 95%, 53.1%;
}

header {
  border: none !important;
  padding: 0 !important;
}

header.header {
  background-color: transparent !important;
  height: 4.5rem !important;
  margin-inline: auto !important;
  padding-block: 0 !important;
  padding-inline: 2rem !important;
}

header > div:first-of-type {
  backdrop-filter: blur(12px) !important;
  background-color: var(--backdrop-color) !important;
  border: 1px var(--border) solid;
  border-radius: 36px;
  height: 100% !important;
  margin-inline: auto !important;
  margin-top: 1rem !important;
  max-width: 1536px;
  padding-inline: 2rem !important;
  width: auto !important;
}

#starlight__sidebar {
  border-radius: 1rem;
  margin-top: 2rem !important;
}

.content-panel:first-of-type {
  margin-top: 2rem !important;
}

.right-sidebar {
  top: 2rem !important;
}

#starlight__on-this-page--mobile {
  border: none !important;
}

mobile-starlight-toc > nav {
  border: none !important;
  border-radius: 1rem;
  margin-top: 2rem !important;
}

select {
  background-image: none;
  box-shadow: none;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

article.card {
  border-radius: 0.5rem;
}

.pagination-links a:hover {
  border-color: var(--sl-color-accent);
}

.sl-link-card:hover {
  border-color: var(--sl-color-gray-4) !important;
}

.starlight-aside--tip {
  background: linear-gradient(45deg, #fb923c, #fdba74);
  border: none;
  border-radius: 0.5rem;
  color: #9a3412;
}

.starlight-aside--note {
  background: linear-gradient(45deg, #00b4db, #2193b0);
  border: none;
  border-radius: 0.5rem;
  color: #004558;
}

.starlight-aside__icon {
  transform: scale(0.8);
}

.starlight-aside--tip .starlight-aside__title {
  color: #fff7ed;
}

.starlight-aside--note .starlight-aside__title {
  color: #bbf3fef7;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  list-style-type: none;
  padding-left: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  padding-left: 1.75rem;
  position: relative;
}

.sl-markdown-content li:not(:where(.not-content *)) > ul,
.sl-markdown-content li + li:not(:where(.not-content *)) {
  margin-top: 0.625rem;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li:before {
  background: var(--list-marker-color);
  border-radius: 1px;
  content: "";
  height: 2px;
  left: 2px;
  position: absolute;
  top: 13px;
  width: 0.875rem;
}

@media screen and (max-width: 800px) {
  mobile-starlight-toc > nav {
    border-radius: 1rem;
    margin-top: 3rem !important;
  }

  header > div:first-of-type {
    padding-inline-end: 5rem !important;
  }

  starlight-menu-button > button {
    right: 3rem !important;
    top: 2.2rem !important;
  }
}

@media screen and (max-width: 1280px) {
  header.header {
    padding-inline: 1.5rem !important;
  }
}
